#maincontainer-faq {
    position: relative;
}

#maincontainer-faq::after {
    content: "";
    background: url("../images/mainbackground5.png");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.question {
    font-size: 1.4em;
    font-weight: 500;
}

.answer {
    font-size: 1.1em;
}